<div class="row" ng-controller="map-app.controllers.index">
    <div class="col s2">
        <ul>
            <li class="segment-item">
                element-to-drop
            </li>
        </ul>
        <ul ng-repeat="coloredSegments">

            <li>
                <div class="segment indigo" style="min-width: 10px; min-height: 10px">
                    <div class="segment-info">
                        info...

                    </div>

                </div>
            </li>

        </ul>
    </div>
    <div class="col s10 map-area">
        <img src="map-sample.jpg" class="map-image" />
    </div>
</div>